name: Build website  [Multiarch]

on:
  push:
    branches:
      - 'master'
  schedule:
    - cron: '5 4 * * *'

jobs:
  build-amd64:
    runs-on: ubuntu-latest
    outputs:
      hash: ${{ steps.vars.outputs.hash }}
    steps:
      - uses: actions/checkout@v4

      - name: Get short commit hash
        id: vars
        run: echo "hash=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push AMD64
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          target: frontend-prod
          platforms: linux/amd64
          push: true
          provenance: false
          tags: |
            johngh/personal-website:portfolio-amd64
            johngh/personal-website:portfolio-amd64-${{ steps.vars.outputs.hash }}

  build-arm64:
    runs-on: ubuntu-24.04-arm
    needs: build-amd64
    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push ARM64
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          target: frontend-prod
          platforms: linux/arm64
          push: true
          provenance: false
          tags: |
            johngh/personal-website:portfolio-arm64
            johngh/personal-website:portfolio-arm64-${{ needs.build-amd64.outputs.hash }}

  merge-manifest:
    runs-on: ubuntu-latest
    needs:
      - build-amd64
      - build-arm64
    steps:
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/setup-buildx-action@v3

      - name: Create & Push Multi-Arch Manifest
        run: |
          docker buildx imagetools create \
            -t johngh/personal-website:portfolio \
            -t johngh/personal-website:portfolio-${{ needs.build-amd64.outputs.hash }} \
            johngh/personal-website:portfolio-amd64-${{ needs.build-amd64.outputs.hash }} \
            johngh/personal-website:portfolio-arm64-${{ needs.build-amd64.outputs.hash }}
